* {
    margin: 0;
    /*Elimina todos los márgenes que estan agregados por defecto*/
    padding: 0;
    /*Elimina todos los espacios internos por defecto.*/
    box-sizing: border-box;
    /* Hace que el ancho y alto incluyan padding y borde.*/
    font-family: 'karla', sans-serif;
    /*define el tipo de letra*/
    /*box-sizing: border-box;
}

body {
    font-weight: 400;
    /*Peso normal de la fuente desde la normal hasta la mas negrita*/
}


header {
    display: flex;
    /*Permite que el contenedor sea flexible*/
    justify-content: space-between;
    /*Separa los elementos al maximo*/
    align-items: center;
    /*Alinea los elementos verticalmente*/
    padding: 15px 40px;
    /*15px arriba y abajo, 40px izquierda y derecha*/
}

.logo {
    width: 160px;
    /*Define el tamaño fijo, ancho y altura*/
    height: 80px;
}

.logo img {
    width: 100%;
    /*Permite que la imagen ocupe todo el espacio del contenedor*/
    height: 100%;
}

.nav-links {
    display: flex;
    /*Los elementos quedan en fila.*/
    gap: 45px;
    /*Espacio entre los elementos*/
    list-style: none;
    /*Elimina los estilos por defecto de la lista*/
    align-items: center;
    /*Alinea los elementos verticalmente*/
    margin: 0 10px;
    /**/
    padding: 0;
    height: 80px;
}

.nav-links li {
    display: flex;
    /**/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
   
}

.nav-item img {
    width: 44px;
    /*Define el tamaño fijo, ancho y altura*/
    height: 44px;
}

.nav-links li a {
    font-size: 20px;
    /*Tamaño de la fuente*/
    color: #5FA101;
    font-weight: 400;
    /*Peso de la fuente, desde la normal hasta la más negrita*/
    margin: 0;
}


.fondo-carrito {

    width: 100%;
    height: 85px;
    background-color: #70A327;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carrito p {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-family: 'Konkhmer Sleokchher', sans-serif, bold;
}
