* {
    margin: 0;
    padding: 0;

    font-family: 'karla', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    width: 180px;
    height: 98px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    gap: 45px;
    list-style: none;
    align-items: center;
    margin: 0 10px;
    padding: 0;
    height: 80px;
}

.nav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.nav-item img {
    width: 44px;
    height: 44px;
}

.nav-links li a {
    font-size: 20px;
    color: #5FA101;
    font-weight: 400;
    margin: 0;
}


.titulo {
    background: #ff7a2f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
}

.seguimiento {
    width: 100%;
    position: relative;
    left: 120px;
}

.seguimiento img {
    width: 80%;
    display: block;
}

.contenedor-pedidos {
    display: flex;
    flex-direction: column;
}

.pedido {
    display: flex;
    gap: 25px;
    margin: 20px 30px;
}

.productos-pedido {
    flex: 1;
    background: white;
    border-radius: 4px;
    border: 1px solid #eee;
    height: 250px;
    overflow: hidden;
}

.fecha {
    background: #fff3eb;
    color: #ff6b1a;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
}

.flecha {
    font-size: 30px;
    padding: 10px 20px;
}

.imagenes-productos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
    height: 250px;
    min-height: 160px;
}

.imagenes-productos img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    position: relative;
    top: -50px;

}

.acciones {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acciones button {
    height: 45px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-detalles {
    background: #ff7a2f;
    color: white;
    border: none;
}

.btn-secundario {
    background: white;
    color: #333;
    border: 1px solid #ffb48c;
}

.fondo {
    width: 100%;
    height: 200px;
    background-color: #272925;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    /*distribuir los elementos horizontalmente con espacio entre ellos.*/
    align-items: center;

}

.pie-de-pagina {

    width: 203px;
    height: 115px;
}

.pie-de-pagina img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*se ajustacompletamente dentro de su contenedor sin recortarse ni deformarse.*/
}

.fondo hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #A6A7A4;
    transform: rotate(90deg);
    /*Sirve para rotar un elemento 90 grados.*/
    width: 114px;

}

.separador {
    width: 1px;
    height: 120px;
    background-color: #A6A7A4;
}

.informacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*Los elementos quedan uno debajo del otro.*/
    gap: 10px;
    color: #fff
}

.informacion h2 {
    font-size: 30px;
    font-weight: normal;
}

.informacion p {
    font-size: 19px;
}

.ubicación p {
    display: flex;
    flex-direction: row;
    /*Los elementos quedan uno al lado del otro.*/
    color: #fff;
    gap: 8px;
}

.ubicación p img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /*agrega un margen a la derecha separando el icono del texto*/

}

.Redes-sociales {
    display: flex;
    justify-content: center;
    /*Centra los elementos horizontalmente dentro del contenedor.*/
    align-items: center;
    gap: 30px;
    flex-direction: column;
    color: #fff;
    font-size: 32px;
}

.Redes-sociales h2 {
    font-size: 30px;
    font-weight: normal;
    /*Peso de la fuente, desde la normal hasta la más negrita.*/
}

.iconos {
    display: flex;
    flex-direction: row;
    /*Los elementos quedan uno al lado del otro.*/
    align-items: center;
    /*Alinea los elementos verticalmente dentro del contenedor.*/
    justify-content: center;
    /*Centra los elementos horizontalmente dentro del contenedor.*/
    gap: 12px;
}

.iconos img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    /*se ajusta completamente dentro de su contenedor sin recortarse ni deformarse.*/

}

@media (max-width: 1024px) {

    header {
        padding: 15px 20px;
    }

    .logo {
        width: 140px;
        height: auto;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-item img {
        width: 35px;
        height: 35px;
    }

    .nav-links li a {
        font-size: 16px;
    }

    .titulo {
        font-size: 40px;
    }

    .seguimiento {
        left: 0;
        display: flex;
        justify-content: center;
    }

    .seguimiento img {
        width: 95%;
    }

    .pedido {
        gap: 15px;

        margin-bottom: 60px;
    }

    .productos-pedido {
        height: 320px;
    }

    .imagenes-productos {
        height: 170px;
        padding: 10px;
    }

    .imagenes-productos img {
        width: 150px;
        height: 150px;
        top: 20px;
    }

    .fecha {
        font-size: 20px;
    }

    .acciones {
        width: 180px;
        margin-top: 60px;
    }

    .acciones button {
        font-size: 14px;
        height: 40px;
    }

    .fondo {
        width: 100%;
        min-height: 200px;
        background-color: #272925;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pie-de-pagina {
        width: 180px;
        height: 100px;
        flex-shrink: 0;
    }

    .informacion h2,
    .Redes-sociales h2 {
        font-size: 24px;
    }

    .informacion p,
    .ubicación p {
        font-size: 16px;
    }

    .iconos img {
        width: 32px;
        height: 32px;
    }

    .separador {
        height: 90px;
    }

    .fondo hr {
        width: 90px;
    }

}

@media (max-width: 768px){

    header{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .logo{
        width: 130px;
        height: auto;
    }

    .nav-links{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .nav-item img{
        width: 30px;
        height: 30px;
    }

    .nav-links li a{
        font-size: 14px;
    }

    .titulo{
        font-size: 32px;
    }

    .seguimiento{
        left: 0;
        display: flex;
        justify-content: center;
    }

    .seguimiento img{
        width: 95%;
    }

    .pedido{
        flex-direction: column;
        margin: 15px;
    }

    .productos-pedido{
        height: auto;
    }

    .fecha{
        font-size: 18px;
    }

    .imagenes-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        height: auto;
        padding: 20px;
    }

    .imagenes-productos img{
        width: 110px;
        height: 110px;
        top: 0;
    }

    .acciones{
        width: 100%;
        margin-top: 0;
    }

    .acciones button{
        width: 100%;
        height: 45px;
    }

    
  
    /* FOOTER */
    .fondo {
        flex-direction: column;
        text-align: center;

        height: auto;
        min-height: auto;

        padding: 20px 0;
        gap: 20px;
    }

    .separador,
    .fondo hr {
        display: none;
    }

    .Redes-sociales {
        font-size: 20px;
        gap: 15px;
    }

    .Redes-sociales h2,
    .informacion h2 {
        font-size: 18px;
    }

    .informacion p,
    .ubicación p {
        font-size: 16px;
    }

    .iconos {
        flex-wrap: wrap;
    }


}